.about {
    
    background-color: $color-gray-light;
    
    &__container {
        display: grid;
        grid-gap: 100px;
        @extend %container;
        grid-template-columns: 1fr 271px;
    }

    &__content {
        h2 {
            font-family: $font-header;
        }

    }
    &__image {
        display: grid;
    }
}